PORT=3000
MISTRAL_API_KEY=
MISTRAL_MODEL=mistral-small-latest
MISTRAL_TIMEOUT_MS=30000


TAVILY_API_KEY=

REDIS_HOST=localhost
REDIS_PORT=6379

CORS_ORIGIN=*

AGENT_MAX_ITERATIONS=10
TOOL_TIMEOUT_MS=30000

CACHE_TTL_SECONDS=3600
CRITIC_RESULT_MAX_CHARS=8000
PROMPT_MAX_ATTEMPTS=5

QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=agent_vectors
QDRANT_VECTOR_SIZE=384